@page "/"

<div class="ui vertical center aligned basic title segment" style="margin-top: 10vh">
    <div class="ui big text container">
        <h1 class="ui huge orange header">
            <strong>Andrew Seward</strong>
        </h1>
        <h5 class="ui medium inverted blue header">
            <strong>Game Developer</strong>
        </h5>
    </div>
</div>

<div class="ui centered ten column padded doubling stackable grid">
    <ExternalLink URL="https://docs.google.com/document/d/1qZ36CHHSvXhGWafkWmhjL7z9l0zYtbaBR16h92ovMlo/edit?usp=sharing" Icon="file alternate outline" Text="RESUME"></ExternalLink>
    <ExternalLink URL="https://boats.itch.io" Icon="itch io" Text="ITCH.IO"></ExternalLink>
    <ExternalLink URL="https://github.com/ajseward" Icon="github" Text="GITHUB"></ExternalLink>
    <ExternalLink URL="https://gitlab.com/ASeward" Icon="gitlab" Text="GITLAB"></ExternalLink>
    <ExternalLink URL="https://twitter.com/_aseward" Icon="twitter" Text="TWITTER"></ExternalLink>
</div>

<div class="ui centered four column doubling stackable grid">
    <Card Title="RETROSPECT"
          URL="https://boats.itch.io/retrospect"
          Image="https://img.itch.zone/aW1nLzMwMjE1MjIucG5n/315x250%23c/7jimNX.png"
          Date="February 2020"
          Description="Minimalistic puzzle game"
          ButtonText="Play Now!"/>
    <Card Title="Player Pref Anything"
          URL="https://assetstore.unity.com/packages/tools/utilities/player-pref-anything-152039"
          Image="images/playerprefanything.png"
          Date="January 2020"
          Description="Serialization Utility for Unity"
          ButtonText="View on the Asset Store"/>
</div>