<div class="ui top attached inverted pointing secondary menu">
    <NavLink class="header item" href="/" Match="NavLinkMatch.All"><span class="ui orange header">Andrew Seward</span></NavLink>
    <NavLink class="item" href="/Github">Open Source Projects</NavLink>
</div>

@code {
}